.contact__container {
	margin-top: 192px;
	text-align: center;
	margin-bottom: 200px;
}

.contact__container h1 {
	margin-top: 130px;
}

.contact__container p {
	max-width: 633px;
	margin: 30px auto;
}

.contact__emailButton {
	width: 89px;
	height: 89px;
	background-color: var(--featurecolor);
	outline: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.contact__emailButton i {
	color: var(--backgroundcolor);
}

@media screen and (max-width: 414px) {
	.contact__container {
		margin-top: 66px;
	}
}
